<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% extends "template.html" %}
    {% block content %}

    <div class = 'container'>
    <div class = 'page-header'>

    </div>

        <form action='/criar' method='post'>

            <fieldset>
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" id="nome" name="nome" class="form-control">
                </div>

                <div class="form-group">
                    <label for="idade">Idade</label>
                    <input type="text" id="idade" name="idade" class="form-control">
                </div>

                <div class="form-group">
                    <label for="altura">Altura</label>
                    <input type="text" id="altura" name="altura" class="form-control"
                </div>

            </fieldset>

        </form>

    {% endblock %}

</body>
</html>